body {
    background: #13111c;
    background-image: url(https://railway.app/illustrations/grid--dark.svg);
}

#canvasCont {
    background: #2d283e;
    height: 400px;
    margin-top: 10px;
    padding: 16px;
    border-radius: 10px;
}

.window {
    position: absolute;
    border: 1px solid #000;
    border-top: none;
    background-color: #fff;
    min-width: fit-content;
}
.titleBar {
    background: #33323e;
    color: #fff;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 17px;
    height: 20px;
    padding: 3px 0 0 10px;
    z-index: 2;
}
.resize-handle {
    position: absolute;
    background: gray;
    cursor: se-resize;
    z-index: 100;
}
.closeButton {
    float: right;
    border: none;
    background: #808080;
    color: antiquewhite;
    height: 22px;
    margin-top: -2px;
}

#new {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

#new {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 75px;
    background: #33323e;
    border: none;
    border-top-left-radius: 10px;
    font-size: 63px;
    color: antiquewhite;
    cursor: pointer;
}
