body {
    background: #13111c;
    background-image: url(https://railway.app/illustrations/grid--dark.svg);
    margin: 0;
    padding: 0;
}

#canvasCont {
    background: #2d283e;
    height: 400px;
    margin-top: 10px;
    padding: 16px;
    border-radius: 10px;
}

.window {
    position: absolute;
    border: 1px solid #13111c;
    border-top: none;
    background-color: #000;
    min-width: 700px;
    min-height: 300px;
    z-index: 1;
    overflow-y: clip;
}
.titleBar {
    background: #33323e;
    color: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 17px;
    height: 20px;
    padding: 3px 0 0 10px;
    z-index: 3;
}
.resize-handle {
    position: absolute;
    background: gray;
    cursor: se-resize;
    z-index: 100;
}
.closeButton {
    float: right;
    border: none;
    background: #808080;
    color: antiquewhite;
    height: 22px;
    margin-top: -2px;
    cursor: pointer;
}
.minimise {
    float: right;
    border: none;
    background: #808080;
    color: antiquewhite;
    height: 22px;
    margin-top: -2px;
    cursor: pointer;
}

#new {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

#new {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 75px;
    background: #33323e;
    border: none;
    border-top-left-radius: 10px;
    font-size: 63px;
    color: antiquewhite;
    cursor: pointer;
}

#tabs {
    height: 30px;
    width: 100%;
    background: #33323e;
    margin: 0;
    padding: 0;
    display: flex;
}

.tab {
    width: auto;
    height: 30px;
    background: #23222e;
    margin-right: 3px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 0 10px;
    color: #b9b9b9;
    font-weight: 700;
    cursor: pointer;
}

#main {
    width: 100vw;
    height: calc(100vh - 30px);
}

.input-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.input-prompt {
    font-size: 18px;
    margin-bottom: 10px;
    color: #c5c5c5;
    font-family: sans-serif;
    width: 350px;
}

.input-dialog input {
    width: 350px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
a .input-buttons {
    text-align: right;
}

.input-dialog button {
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #08070b;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.input-dialog button:hover {
    background-color: #007bff;
    color: #fff;
}

.input-dialog button:active {
    background-color: #0056b3;
}

.input-dialog button:focus {
    outline: none;
}

.input-container {
    background: #13111c;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0.0145rem 0.029rem 0.174rem rgba(0, 0, 0, 0.01698),
        0.0335rem 0.067rem 0.402rem rgba(0, 0, 0, 0.024),
        0.0625rem 0.125rem 0.75rem rgba(0, 0, 0, 0.03),
        0.1125rem 0.225rem 1.35rem rgba(0, 0, 0, 0.036),
        0.2085rem 0.417rem 2.502rem rgba(0, 0, 0, 0.04302),
        0.5rem 1rem 6rem rgba(0, 0, 0, 0.06),
        0 0 0 0.0625rem rgba(0, 0, 0, 0.015);
}

#sidePannel {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100vh - 30px);
    width: 500px;
    background: #272633;
}
